@use 'styles' as *;

.pagination_container {
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 10px;
    padding: 25px 0;
}

.active {
    background-color: $color-light-pink;
}