.input {
  outline: none;
  width: 390px;
  padding: 5px 10px;
  padding-top: 8px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  text-transform: uppercase;
}
.container {
  display: flex;
  align-items: center;
}
