@use 'styles' as *;

.container {
    display: flex; 
    justify-content: center; 
    padding-top: 15%
}

.form {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 500px) {
        width: 80%
    }
    @media screen and (min-width: 500px) {
        width: 20%;
    }
}

.signin, .signup {
    top: -40px;
    position: relative;
    text-align: center;
    color: $color-white;
    font-weight: 600;
    text-transform: uppercase;
}

.login, .password {
    min-width: 150px;
    max-width: 400px;
}
button {
    min-width: 150px;
    max-width: 400px;
}