$light-blue: #3241CE;
$dark-blue: #1F2881;
$white: #FFF;

$fw-bold: 800;
$fw-light: 400;

@font-face{
    font-family: "MontserratBold";
    src : url("../fonts/Montserrat-Bold.ttf")
}

@font-face{
    font-family: "MontserratRegular";
    src : url("../fonts/Montserrat-Regular.ttf")
}