$color-light-blue: #3241ce;
$color-dark-blue: #1f2881;
$color-light-pink: #fc0fc0;
$color-white: #fff;
$color-black: #000;
$color-gray: #c4c3c3b8;
$color-red: #f00;

$fw-bold: 700;
$fw-light: 400;

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

$font-Montserrat: 'Montserrat';
