@use 'styles' as *;

.main_container{
    display: flex;
    @media screen and (max-width: 1244px) {
    flex-direction: column-reverse;
    align-items: center;
    }
}

.container {
    background-color: $color-light-blue;

    @media screen and (min-width: 1680px) {
        min-height: calc(100vh - 160px); 
        min-width: calc(100vw - 900px);
    }

    @media screen and (max-width: 1680px) {
        min-height: calc(100vh - 160px); 
        min-width: calc(100vw - 600px);
    }

    @media screen and (max-width: 1444px) {
        padding-top: 25px;
        padding-left: none;
        width: 100%;
    }

}

.main_card {
    
    display: grid;
    grid-auto-rows: 400px;
    grid-auto-columns: 865px;
    justify-content: center;
    
    @media screen and (max-width: 1921px) {
        grid-auto-rows: 400px;
        grid-auto-columns: 865px;
    }

    @media screen and (max-width: 1540px) {
        grid-auto-columns: 640px;
    }

    @media screen and (max-width: 1240px) {
        grid-auto-columns: 440px;
        grid-auto-rows: 300px;
    }

    @media screen and (max-width: 640px){
        grid-template-columns: 355px;
        grid-auto-rows: 180px; 
    }

}

.child_cards {
    padding-top: 35px;
    display: grid;
    
    column-gap: 75px;
    row-gap: 35px;
    padding-left: 0;
    justify-content: center;

    @media screen and (min-width: 2880px) {
        grid-template-columns: 710px 710px 710px;
        grid-auto-rows: 360px
    }

    @media screen and (max-width: 2880px) {
        grid-template-columns: 535px 535px 535px; 
        grid-auto-rows: 270px
    }

    @media screen and (max-width: 2480px) {
        min-height: calc(100vh - 160px); 
        grid-template-columns: 355px 355px;
        grid-auto-rows: 180px; 
    }

    @media screen and (max-width: 1444px) {
        grid-auto-rows: 180px;
        grid-template-columns: 355px;
    }
}

.route {
    color: inherit; 
    text-decoration: inherit;
    display: contents;
}

.title {
    color: $color-white;
    font-size: 48px;
    font-weight: 500;
    margin: 0 auto;
}