@use 'styles' as *;

.main_container{
    display: flex;
    @media screen and (max-width: 1244px) {
    flex-direction: column-reverse;
    align-items: center;
    }
}

.container {
    background-color: $color-light-blue;
    min-height: calc(100vh - 160px); 

    @media screen and (min-width: 1250px) {
        width: 50%;
    }



    @media screen and (max-width: 1250px) {
        padding-top: 25px;
        padding-left: none; 
        width: 100%;
    }

}

.main_card {
    
    display: grid;
    grid-auto-rows: 400px;
    grid-auto-columns: 840px;
    justify-content: center;
    


    @media screen and (max-width: 1721px) {
        grid-auto-rows: 400px;
        grid-auto-columns: 700px;
    }

    @media screen and (max-width: 1540px) {
        grid-auto-columns: 640px;
    }

    @media screen and (max-width: 1240px) {
        grid-auto-columns: 440px;
        grid-auto-rows: 300px;
    }

    @media screen and (max-width: 640px){
        grid-template-columns: 355px;
        grid-auto-rows: 180px; 
    }

}

.files {
    width: 100%;
    justify-content: center;
    justify-items: center;
    padding: 35px 75px;
    
}

.file {
    background-color: $color-white;
    font-size: 32px;
    font-weight: 700;
    border-radius: 10px;
    margin-bottom: 33px;
}

.title {
    color: $color-white;
    font-size: 48px;
    font-weight: 500;
    margin: 0 auto;
}

.route {
    color: inherit; 
    text-decoration: inherit;
    display: contents;
}
a {
    display: contents;
}