@use 'styles' as *;

.container {
  background-color: $color-light-blue;
  width: 100%;
  height: 100%;
  color: $color-white;
  padding-top: 31px;
  padding-left: 55px;
  padding-bottom: 51px;
}

.title {
  font-size: 64px;
  font-family: $font-Montserrat;
  font-weight: $fw-bold;
}

.description {
  font-size: 36px;
  font-family: $font-Montserrat;
}
