@use 'styles' as *;

.card {
  min-width: 356px;

  padding: 3px;
  background: $color-white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;

  img {
    border-radius: 10px 10px 0 0;
    min-width: 345px;
    min-height: 145px;
    object-fit: cover;
  }
}

.big_title { 
  font-size: 32px; 
  line-height: 32px;
  color: $color-black;
  font-weight: 700;

}

.title {
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  align-self: flex-start;
  padding: 5px 0;
  margin-left: 15px;
}
