@use 'styles' as *;
$percent: 0;

.progress {
    display: flex;
    width: #{$percent};
    border-radius: 10px;
}

.container {
    display: flex;
    font-family: $font-Montserrat;
    font-size: 32px;
    max-width: 839px;
    border-radius: 10px;
    background-color: white;
    font-weight: 700;
}

.name {
    min-width: 200px;
    word-spacing: nowrap;
}

.percent {
    min-width: 50px;
    left: 50px;
}