@use 'styles' as *;

.mainContainer {
    @media screen and (min-width: 768px) {
        display: flex;
    }
    @media screen and (max-width: 767px) {
        display: flex;
    flex-direction: column-reverse;
    align-items: center;
    }
}

.container {
    background-color: $color-light-blue;
    display: grid;
    width: 50%;
    
    grid-auto-rows: 180px;
    column-gap: 75px;
    row-gap: 35px;
    
    justify-content: center;
    @media screen and (min-width: 1244px) {
        padding-left: 55px;
        min-height: calc(100vh - 160px); 
        grid-template-columns: 355px 355px; 
    }

    @media screen and (max-width: 1244px) {
        padding-top: 25px;
        padding-left: none;
        grid-template-columns: 355px;
        min-height: calc(100vh - 160px);
        width: 100%;
    }

}

.route {
    color: inherit; 
    text-decoration: inherit;
    display: contents;
}

.title {
    color: $color-white;
    font-size: 48px;
    font-weight: 500;
    margin: 0 auto;
}